/* Change the font family and fix the body width */
body {
    font-family: 'Raleway', sans-serif;
    /* width: 1400px; */
}
/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

/* Header */
.header {
    padding-top: 21px;
}

.logo {
    text-align: center;
}

.top-navigation {
    margin-top: 88.62px;
}

.list {
    display: flex;
}

.list-item {
    text-align: center;
    width: 50%;
}

.list-item a {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.list-item a:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
}

/* Filter Section */
.filter {
    margin-top: 30px;
    padding: 0 72px;
}

.filter-header h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;

}

.filter-header p{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 19px;
}
/* Filter bar */
.filter-bar {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 35px;
    margin-bottom: 31px;
}

.filter-bar p {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
}

.filter-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

.filter-list-item i{
    color: #0065fc;
    width: 22px;
    height: 22px;
}

.filter-list-item a{
    display: block;
    color: black;
    font-weight: 700;
    border: 3px solid #d9d9d9;
    border-radius: 25px;
    padding: 14px;
}

.filter-list-item a:hover {
    background-color: #deebff;
}

.info-bar {
    display: flex;
    align-items: center;
    padding-bottom: 42px;
}

.info-bar i {
    color: #0065fc;
    text-align: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    margin-right: 11px;
    padding: 3px;
    line-height: 19px;
}

.info-bar p {
    font-size: 16px;
    line-height: 19px;
}

/* Main */

.most-popular {
    background-color: #d9d9d9;
    padding-top: 26px;
    padding-bottom: 50px;
    padding-left: 72px;
    padding-right: 72px;
}



.popular-header {
    display: flex;
    justify-content: space-between;
}

.popular-header h2{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 27px;
}

.popular-header i {
    width: 18px;
    height: 14px;
    color: #0065fc;
}

.popular-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
}

.popular-content .card {
    display: flex;
    background-color: #fff;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}

.popular-content .card img {
    border-radius: 20px 0 0 20px;
}

.popular-content .card-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.popular-content .card-content-header, .popular-content .star {
    margin-left: 19px;
}

.popular-content .card-content-header {
    margin-top: 15px;
}

.popular-content .star {
    margin-bottom: 15px;
}

.popular-content .card-content-header h3 {
    width: 111px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.popular-content .card-content-header p {
    font-size: 13px;
    line-height: 15px;
}


.card-content i {
    color: #0065fc;
}

.card-content .empty-star {
    color: #d9d9d9;
}